.side-bar{
  position:fixed;
  left:0;
  bottom:0;
  top:75px;
  background-color: rgb(255, 255, 255);
  width:85px;
  z-index:200;
  padding-top:6px;

}
.side-bar-icon{
 display:flex;
 justify-content:center;
 align-items:center;
  flex-direction:column;
  height:87px;
}
.side-bar-icon:hover{
  background-color: rgb(203, 191, 191);
  cursor:pointer;
}
.side-bar-icon img {
  height:28px;

  margin-bottom:4px;
}
.side-bar-icon div {
  font-family:Roboto,Arial;
  font-size:12px;
}

@media (max-width:550px){
  body{
    padding-left: 8px;
    padding-right: 8px;
    
  }
  .side-bar{
  position:relative;
    z-index:-200;
  max-width:8px;
    display: none;
  }
}
@media (min-width:550px) and (max-width:850px){
  body{
    padding-left: 38px;
  }
  .side-bar{
    display: none;
  }
}
@media (min-width:851px) and (max-width:1200px){
  .side-bar{
    max-width: 40px;
  }
}
@media (min-width:1201px){
  
}
